@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
.main-content {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crud-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 2rem 1rem 2rem;
    border-bottom: 1px solid;
}

.crud-container {
    width: 70%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
    padding: 2rem;
    overflow: auto;
}

.button span {
    margin-left: 10px
}